<!DOCTYPE html>
<html>
<head>
  <title>IDLabCo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery.dropotron.min" %>
  <%= javascript_include_tag "jquery.scrolly.min" %>
  <%= javascript_include_tag "jquery.scrollex.min" %>
  <%= javascript_include_tag "skel.min" %>
  <%= javascript_include_tag "util" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
